@(das_uri : String, das: model.DataAcquisitionSchemaForm)

@import helper._
@import util._
@import views.html._
@import views.html.schema._
@import controllers.schema._

@main("Delete Semantic Data Dictionary") {
<div class="container">
   <h4>Delete Semantic Data Dictionary</h4>

    <div class="container-fluid">
      <div class="row">
	    <form class="form-horizontal" method="post" action="@controllers.schema.routes.DeleteDAS.processForm(das_uri)">

           <div class="form-group">
              <label>URI : </label> @das.getUri() <br>         
              <label>Name : </label> @das.getLabel()         
           </div>
     
	       <input class="btn btn-danger" role="button" type="submit" value="Confirm Deletion" /> OR         
	       <a href="@controllers.schema.routes.DASManagement.index()" class="btn btn-primary" role="button">Go back to SDD Management</a>
	       
        </form>
      </div>
    </div>

</div>

}
