@(dir       : String,
  file_name : String,
  labels    : String)

@import helper._
@import util._
@import views.html._
@import views.html.schema._
@import controllers.schema._
@import controllers._

 @main("New SDD from File") {

  <div class="container">
    <h2>New SDD From File</h2>

    <form class="form-horizontal" name="newDAS" method="post">
	
      <div class="form-group">
	<label>Name:</label>
 	<input type="text" class="form-control col-sm-6" name="label" id="label" onchange="checkform()"  value=@file_name >
      </div>
      
      <div class="form-group" class="col-sm-6 col-offset-3">
        <input class="btn btn-success" role="button" type="submit" value="Create labels and positions" formaction="@controllers.schema.routes.NewDAS.processFormFromFile(labels)"/>
        <input class="btn btn-success" role="button" type="submit" value="Create just labels" formaction="@controllers.schema.routes.NewDAS.processFormFromFileLabels(labels)"/>
        <p> The created SDD will be saved in the knowledge graph</p>
      </div>
      
@*      <div class="form-group" class="col-sm-6 col-offset-3">*@
@*	  <a href="@controllers.annotator.routes.AutoAnnotator.index(dir, ".")" class="btn btn-primary" role="button">Back to Data File Management</a>*@
@*      </div>*@
      
    </form>
  </div>
 
  }
